<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <style>
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;

                color: #FFFBFC;
            }

            html,
            body {
                width: 100%;
                min-height: 100vh;
                overflow: auto;
            }

            body {
                display: grid;

                grid-template-columns: 0.25fr 1fr;
                grid-template-rows: 1fr auto;

                gap: 2rem;
            }

            aside {
                grid-column: 1 / 2;
                grid-row: 1 / 2;

                display: grid;
                height: 100%;

                background: #010400;

                place-items: center;
            }

            main {
                grid-column: 2 / 3;
                grid-row: 1 / 2;

                display: grid;

                background: #010400;

                place-items: center;
            }

            footer {
                grid-column: 1 / 3;
                grid-row: 2 / 3;

                display: grid;
                width: 100%;
                min-height: 5rem;

                background: #010400;

                place-items: center;
            }
        </style>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <aside>
            <a href={{ path('homepage') }}>Home</a>
            <a href={{ path('about-me') }}>About Me</a>

            {% block aside %}{% endblock %}
        </aside>
        <main>
            {% block main %}{% endblock %}
            {{ quote()|nl2br }}
        </main>
        <footer>
            <p>© Becode</p>
        </footer>
    </body>
</html>
